

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.qualification {
    padding: 0 1.5rem;
}

.qualification_headings {
    text-align: center;
    margin: 3rem 0;
}

.qualification_types {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.education {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 8px;
}

.work {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 8px;
}

.timeline {
    display: grid;
    max-width: 750px;
    margin-bottom: 3.5rem;
    grid-template-columns: 180px 2px 180px;
}

.timeline_component {
    height: 120px;
}

.timeline_info-right {
    text-align: left;
    padding-left: 20px;
}

.timeline_bar {
    position: relative;
    background: #000;
}

.timeline_round {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #6e57e0;
}

.last_bar {
    top: initial;
    bottom: 0;
}

.timeline_bg {
    padding: 0 1.5rem;
    background: rgb(255, 255, 255, 0.2);
    box-shadow: 0 0 0 rgb(0, 0, 0, 0.2);
}

.info_closer {
    text-align: left;
}

.timeline h1 {
    font-size: 1.2rem;
}

.time_box {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.time_box .material-symbols-outlined {
    font-size: 16px;
    margin-right: 5px;
}





#scrollUpBtn {
    position: fixed;
    right: 25px;
    bottom: 50px;
    background-color: #6e57e0;
    border-radius: 13px;
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
}
